<div class="menu">
    <div class="contenido">
        <div class="datos">
            <h1 id="name">IRINA C.</h1>
            <h2 id="job">{{getJobContent()}} | QA</h2>
        </div>
        <div class="contact">
            <button mat-button class="btn-contact fixed-btn" (click)="openContactDialog()">{{ getContactMeContent() }}</button>
        </div>
        <div class="language">
            <mat-form-field color="accent">
                <mat-label>{{ getTitleContent() }}</mat-label>
                <mat-select (valueChange)="changeLanguage($event)" >
                    <mat-option *ngFor="let head of getHeaderContent()" [value]="head.value">
                        {{ head.language }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>


    </div>
</div>