<div class="menu">
    <div class="contenido">
    <div class="datos">
        <h1 id="name">IRINA CASAS DUARTE</h1>
        <h2 id="job">Jr.Full Stack developer | Jr.PPO</h2>
    </div>
    <div class="contact">
        <button mat-button class="btn-contact" (click) ="openContactDialog()">CONTACT</button>
    </div>
    <div class="language">
        <mat-form-field>
            <mat-label>Languages/idiomas</mat-label>
            <mat-select (valueChange)="changeLanguage($event)">
                <mat-option value="english">English B2</mat-option>
                <mat-option value="castellano">Castellano nativa</mat-option>
                <mat-option value="catala">Català nativa</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
 

</div>
</div>