<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=News+Cycle:wght@400;700&display=swap"
  rel="stylesheet">
<div class="body">
  <div class="principal-background">
    
    <!-- <div class=" download">
      <button mat-button class="btn-download" (click)="generatePPOPdf()">Download CV</button>

    </div> -->
    <!--ABOUT ME-->
    <div class="about-me">
      <button class="btn-about-me " [class.transformed]="isAboutMeTransformed" (click)="toggleAboutMeChange()">
        <div *ngIf="!isAboutMeTransformed">{{getAboutMeTitleContent()}}</div>
        <div *ngIf="isAboutMeTransformed">{{getAboutMeTitleContent()}}</div>
      </button>
      <div class="about-me-content description" [@fadeInOut]="isAboutMeVisible ? 'visible' : 'hidden'">
        <ng-container *ngFor="let segment of getSegments(getAboutMeContent()); let odd = odd">
          <span class="bold-text" *ngIf="odd; else even">{{ segment | formatDescription }}</span>
          <ng-template #even>
            <span class="">{{ segment }}</span>
          </ng-template>
        </ng-container>
      </div>

    </div>

    <!--WORK EXPERIENCE-->
    <div class="work-experience ">
      <button class="btn-work-experience" [class.transformed]="isWorkExpTransformed" (click)="toggleWorkExpChange()">
        <div *ngIf="!isWorkExpTransformed">{{ getWorkExperienceTitleContent() }}</div>
        <div *ngIf="isWorkExpTransformed">{{ getWorkExperienceTitleContent()}}</div>
      </button>
      <div class="work-experience-content" [style.display]="isWorkExpVisible ? 'block' : 'none'">
        <div class="fullstack-ppo" *ngFor="let project of getWorkExperienceContent(); let i = index">
          <div class="work-date">{{ project.date }}</div>
          <div class="work-enterprise">{{ project.enterprise }}</div>
          <div class="work-jobTitle">{{ project.jobTitle }}</div>
          <div class="work-functions">{{ project.functions }}</div>
          <div class="work-description" [innerHTML]="project.description | linejumping"></div>
          <div class="work-technologies">{{project.technologies}}</div>
        </div>

      </div>
    </div>

    <!--EDUCATION-->
    <div class="education">
      <button class="btn-education" [class.transformed]="isEducationTransformed" (click)="toggleEducationChange()">
        <div *ngIf="!isEducationTransformed">{{ getEducationTitleContent() }}</div>
        <div *ngIf="isEducationTransformed">{{ getEducationTitleContent() }}</div>
      </button>
      <div class="education-content" [style.display]="isEducationVisible ? 'block' : 'none'">
        <div class="edu" *ngFor="let edu of getEducationContent(); let i = index">
          <p class="edu-info"><span class="dateEd">{{ edu.dateEd }}</span> <span class="descriptionEd">{{
              edu.descriptionEd }} </span><span class="placeEd">{{ edu.place }}</span> </p>
        </div>
      </div>

      <!--SKILLS-->
      <div class="skills">
        <button class="btn-skills" [class.transformed]="isSkillsTransformed" (click)="toggleSkillsChange()">
          <div *ngIf="!isSkillsTransformed">{{ getSkillsTitleContent() }}</div>
          <div *ngIf="isSkillsTransformed">{{ getSkillsTitleContent() }}</div>
        </button>
        <div class="skills-content" [style.display]="isSkillsVisible ? 'block' : 'none'">
          <div class="skills-detail">
            <div class="soft-skills">
              <div class="soft-title">
                <h3 *ngIf="isSkillsVisible">{{ getTypeSkillsContent().soft }}</h3>
                <h3 *ngIf="!isSkillsVisible">{{getTypeSkillsContent().soft }}</h3>
              </div>
              <div class="soft-content">
                <div *ngFor="let skill of getSoftSkillsContent()" class="soft-skill">
                  <div class="skill-icon">
                    <mat-icon class="soft-icon">
                      {{skill.icon}}
                    </mat-icon>
                  </div>
                  <div class="skill-description">
                    {{skill.soft}}
                  </div>
                </div>
              </div>
            </div>
            <div class="hard-skills">
              <h3 *ngIf="isSkillsVisible">{{ getTypeSkillsContent().hard}}</h3>
              <h3 *ngIf="!isSkillsVisible">{{ getTypeSkillsContent().hard}}
              </h3>
              <div class="hard-content">
                <div *ngFor="let skill of  getHardSkillsContent()" class="hard-skill">
                  <div class="skill-icon">
                    <img class="hard-icon" class="image" src="./assets/img/{{skill.img}}">
                  </div>
                  <div class="skill-description">
                    {{skill.hard}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--PERSONAL PROJECTS-->
      <div class="projects">
        <button class="btn-projects" [class.transformed]="isPersonalProjectTransformed"
          (click)="togglePersonalProjectChange()">
          <div *ngIf="!isPersonalProjectTransformed">{{ getPersonalProjectsTitleContent() }}</div>
          <div *ngIf="isPersonalProjectTransformed">{{ getPersonalProjectsTitleContent() }}</div>
        </button>
      </div>
      <!--INTERESES-->
      <div class="interests">
        <button class="btn-interests" [class.transformed]="isInterestTransformed" (click)="toggleInterestChange()">
          <div *ngIf="!isInterestTransformed">{{ getInterestsTitleContent() }}</div>
          <div *ngIf="isInterestTransformed">{{ getInterestsTitleContent()}}</div>
        </button>
      </div>




    </div>
  </div>