@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=News+Cycle:wght@400;700&display=swap');
$red: rgba(#dd360c, .9);
$green: rgba(#028D46, .9);
$pink: rgba(#f02c77, .9);


.principal-background {
  width: 100%;
  background-color: #152427;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.btn-about-me,
.btn-work-experience,
.btn-education,
.btn-skills,
.btn-interests,
.btn-projects {
  width: 10rem;
  height: 10rem;
  border-radius: 382.742px;
  background: rgba(105, 214, 209, 0.226);
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 20px;  
  font-family: 'Bebas Neue', sans-serif;
  font-size: 1.5rem;
  color: rgb(138, 138, 138);
}

.btn-about-me:hover,
.btn-work-experience:hover,
.btn-education:hover,
.btn-skills:hover,
.btn-interests:hover,
.btn-projects:hover {
  background: rgba(105, 214, 209, 0.781);
  color: rgb(255, 255, 255);
  transform: scale(1.1);
}

.btn-about-me.transformed,
.btn-work-experience.transformed,
.btn-education.transformed,
.btn-skills.transformed,
.btn-interests.transformed,
.btn-projects.transformed {
  border-radius: 0%;
  width: 100%;
  height: 50px;
  text-align: center;
  background: rgba(105, 214, 209, 0.781);
  margin-top: 20px;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
}

.about-me,
.work-experience,
.education,
.skills,
.interests,
.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin-bottom: 50px;
}

.about-me-content,
.work-experience-content,
.education-content,
.skills-content {

  background-color: #D9D9D9;
  display: none;
  font-family: 'News Cycle', sans-serif;
  width: 100%;
  padding: 1rem;
  transition: opacity 0.3s ease, display 0.3s ease;
}
//DOWNLOAD EXISTING PDF
.download-existing-pdf {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  border-radius: 50px;
  background-color: #f5f5f5;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 5;
  width: 5rem;
  height: 5rem;
  text-align: center;
  margin-right: 1rem;
  margin-bottom: 1rem;
  background-color: $pink;
}

.download-existing-pdf a {
  text-decoration: none;
  font-family: 'Bebas Neue', sans-serif;
  color: #D9D9D9;
  font-size: 2rem;
  padding-top: 5px;
 
}


.download-existing-pdf:hover {
  background-color: #0d746e;
  padding: 0.2rem;
  transform: scale(1.3);
  
}

.download-existing-pdf a:hover {
  background-color: #0d746e;
  padding: 0.2rem;
  transform: scale(1.3);
  
}

//ABOUT ME
.description {
  font-size: 1.3rem;
  font-family: 'News Cycle', sans-serif;
  line-height: 2rem;
  text-align: justify;
}

.bold-text {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-family: 'Bebas Neue', sans-serif;

}

//WORK
.work-date {
  color: rgb(0, 7, 7);
  font-size: 1.5rem;
  padding-bottom: 0.2rem;
  font-family: 'Bebas Neue', sans-serif;
}

.work-enterprise {
  color: rgb(85, 85, 85);
  font-size: 1.1rem;
  padding-bottom: 0.2rem;
  font-family: 'Bebas Neue', sans-serif;
}

.work-jobTitle {
  color: rgb(32, 32, 32);
  font-size: 1.1rem;
  padding-bottom: 0.2rem;
  font-family: 'Bebas Neue', sans-serif;

}

.work-functions {
  color: rgb(250, 0, 92);
  font-size: 1.1rem;
  padding-bottom: 0.5rem;
  font-family: 'Bebas Neue', sans-serif;
}

.work-technologies {
  color: #0d746e;
  font-size: 1.1rem;
  margin-bottom: 0.8rem;
  padding-bottom: 0.2rem;
  text-align: center;
  font-family: 'Bebas Neue', sans-serif;
  border-bottom: #05524e solid thin;
}

.work-description {
  font-size: 1rem;
  line-height: 1.8rem;
  margin-bottom: 1.5rem;
  font-family: 'News Cycle', sans-serif;
  text-align: justify;
}

.work-title {
  text-align: start;
  font-size: 1.3rem;
  text-transform: uppercase;
  font-family: 'Bebas Neue', sans-serif;
  margin-bottom: -0.3rem;
}


//EDUCATION
.edu {
  text-align: center;
  text-transform: uppercase;
  font-weight: bolder;
}

.dateEd {
  font-size: 1rem;
  color: #1a1a1a;
  font-weight: bolder;
}

.descriptionEd {
  font-size: 1.3rem;
  text-transform: uppercase;
  color: #f8005b;
  font-weight: bolder;

}

.placeEd {
  font-size: 1rem;
  text-transform: uppercase;
  color: #05524e;
  font-weight: bolder;
}

//SKILLS
.skills-detail {
  display: flex;
}

.soft-skills,
.hard-skills {
  width: 100%;
  display: flex;
  flex-direction: column;

}

.soft-content,
.hard-content {
  display: flex;
  flex-wrap: wrap;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fill, 10rem);
  gap: 1rem;
  width: 100%;
  justify-content: center;
}

.soft-skill,
.hard-skill {
  width: 100%;
  display: flex;


}

.skills-detail h3 {
  text-align: center;
  font-size: 1.3rem;
  text-transform: uppercase;
  font-family: 'Bebas Neue', sans-serif;
}

.skills-detail {
  width: 100%;
  display: flex;

}

.image {
  width: 1rem;
  height: 1rem;
}

.soft-icon {
  text-align: center;
  color: #EC5088;

}

.skill-icon {
  text-align: center;
}

.skill-description {
  padding-left: 1rem;
  text-align: center;
}
  
