<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=News+Cycle:wght@400;700&display=swap" rel="stylesheet">
<div class="body">
  <div class="principal-background">
    <!-- <div class=" download">
      <button mat-button class="btn-download" (click)="generatePPOPdf()">Download CV</button>

  </div> -->
    <!--ABOUT ME-->
    <div class="about-me">
      <button class="btn-about-me " [class.transformed]="isAboutMeTransformed" (click)="toggleAboutMeChange()">
        <div *ngIf="!isAboutMeTransformed">{{ contentByLanguageAboutMeTitle[selectedLanguage] }}</div>
        <div *ngIf="isAboutMeTransformed">{{ contentByLanguageAboutMeTitle[selectedLanguage] }}</div>
      </button>
      <div class="about-me-content description" [@fadeInOut]="isAboutMeVisible ? 'visible' : 'hidden'">
        <ng-container *ngFor="let segment of getSegments(contentByLanguageAboutMe[selectedLanguage]); let odd = odd">
          <span class="bold-text" *ngIf="odd; else even">{{ segment | formatDescription }}</span>
          <ng-template #even>
            <span class="">{{ segment }}</span>
          </ng-template>
        </ng-container>
      </div>

    </div>

    <!--WORK EXPERIENCE-->
    <div class="work-experience ">
      <button class="btn-work-experience" [class.transformed]="isWorkExpTransformed" (click)="toggleWorkExpChange()">
        <div *ngIf="!isWorkExpTransformed">{{ contentByLanguageWorkExpTitle[selectedLanguage] }}</div>
        <div *ngIf="isWorkExpTransformed">{{ contentByLanguageWorkExpTitle[selectedLanguage] }}</div>
      </button>
      <div class="work-experience-content" [style.display]="isWorkExpVisible ? 'block' : 'none'">
        <div class="fullstack-ppo">
          <div class="work-date">{{ contentByLanguageDevWorkExp[selectedLanguage].date }}</div>
          <div class="work-description">{{ contentByLanguageDevWorkExp[selectedLanguage].description }}</div>
          <div class="work-list">
            <div class="functions-list">
              <h3 class="work-title"> PPO</h3>
              <ul *ngIf="contentByLanguagePpoDevFunctions[selectedLanguage]" class="work-functions-list">
                <li *ngFor="let item of contentByLanguagePpoDevFunctions[selectedLanguage]">
                  <span>{{ item.ppo }}</span>
                </li>
              </ul>
            </div>
            <div class="functions-list">
              <h3 class="work-title"> FullStack</h3>
              <ul *ngIf="contentByLanguagePpoDevFunctions[selectedLanguage]" class="work-functions-list">
                <li *ngFor="let item of contentByLanguagePpoDevFunctions[selectedLanguage]">
                  <span>{{ item.dev }}</span>
                </li>
              </ul>
            </div>

          </div>
        </div>
        <div class="travel-agent">
          <div class="work-date"> {{ contentByLanguageTravelWorkExp[selectedLanguage].date }}</div>
          <div class="work-description"> {{ contentByLanguageTravelWorkExp[selectedLanguage].description }}</div>
          <div class="work-list">
            <div class="functions-list">
              <h3 class="work-title" *ngIf="isWorkExpTransformed">{{ contentByLanguageTravelTitle[selectedLanguage] |
                formatDescription}}</h3>
              <h3 *ngIf="!isWorkExpTransformed">{{ contentByLanguageTravelTitle[selectedLanguage] }}
              </h3>
              <ul *ngIf="contentByLanguageTravelAgentFunctions[selectedLanguage]" class="work-functions-list">
                <li *ngFor="let item of contentByLanguageTravelAgentFunctions[selectedLanguage]">
                  <span>{{ item.travelAgent }}</span>
                </li>
              </ul>
            </div>
            <div class="functions-list">
              <h3 class="work-title"> MICE</h3>
              <ul *ngIf="contentByLanguageTravelAgentFunctions[selectedLanguage]" class="work-functions-list">
                <li *ngFor="let item of contentByLanguageTravelAgentFunctions[selectedLanguage]">
                  <span>{{ item.mice }}</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--EDUCATION-->
    <div class="education">
      <button class="btn-education" [class.transformed]="isEducationTransformed" (click)="toggleEducationChange()">
        <div *ngIf="!isEducationTransformed">{{ contentByLanguageEducationTitle[selectedLanguage] }}</div>
        <div *ngIf="isEducationTransformed">{{ contentByLanguageEducationTitle[selectedLanguage] }}</div>
      </button>
      <div class="education-content" [style.display]="isEducationVisible ? 'block' : 'none'">
        <div class="edu">
          <div class="devEducation">
            <span> {{ contentByLanguageDevEducation[selectedLanguage].dateEd }}</span>
            {{ contentByLanguageDevEducation[selectedLanguage].descriptionEd }}
          </div>
          <div class="travelEducation">
            <span> {{ contentByLanguageTravelEducation[selectedLanguage].dateEd }}</span>
            {{ contentByLanguageTravelEducation[selectedLanguage].descriptionEd }}
          </div>
        </div>
      </div>
    </div>

    <!--SKILLS-->
    <div class="skills">
      <button class="btn-skills" [class.transformed]="isSkillsTransformed" (click)="toggleSkillsChange()">
        <div *ngIf="!isSkillsTransformed">{{ contentByLanguageSkillsTitle[selectedLanguage] }}</div>
        <div *ngIf="isSkillsTransformed">{{ contentByLanguageSkillsTitle[selectedLanguage] }}</div>
      </button>
      <div class="skills-content" [style.display]="isSkillsVisible ? 'block' : 'none'">
        <div class="skills-detail">
          <div class="soft-skills">
            <div class="soft-title">
              <h3 *ngIf="isSkillsVisible">{{ contentByLanguageSkillsType[selectedLanguage].soft }}</h3>
              <h3 *ngIf="!isSkillsVisible">{{ contentByLanguageSkillsType[selectedLanguage].soft }}</h3>
            </div>
            <div class="soft-content">
              <div *ngFor="let item of contentByLanguageSkillsSoft[selectedLanguage]" class="soft-skill">
                <div class="skill-icon">
                  <mat-icon class="soft-icon">
                    {{item.icon}}
                  </mat-icon>
                </div>
                <div class="skill-description">
                  {{item.soft}}
                </div>
              </div>
            </div>
          </div>
          <div class="hard-skills">
            <h3 *ngIf="isSkillsVisible">{{ contentByLanguageSkillsType[selectedLanguage].hard }}</h3>
            <h3 *ngIf="!isSkillsVisible">{{ contentByLanguageSkillsType[selectedLanguage].hard }}
            </h3>
            <div class="hard-content">
              <div *ngFor="let item of contentByLanguageSkillsHard[selectedLanguage]" class="hard-skill">
                <div class="skill-icon">
                  <img class="hard-icon" class="image" src="./assets/img/{{item.img}}">
                </div>
                <div class="skill-description">
                  {{item.hard}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--INTERESES-->
    <div class="interests">
     
      <button class="btn-interests" [class.transformed]="isInterestTransformed" (click)="toggleInterestChange()">

        <div *ngIf="!isInterestTransformed">{{ contentByLanguageInterestTitle[selectedLanguage] }}</div>
        <div *ngIf="isInterestTransformed">{{ contentByLanguageInterestTitle[selectedLanguage] }}</div>



      </button>
    </div>

      <!--PERSONAL PROJECTS-->
      <div class="projects">
        <button class="btn-projects" [class.transformed]="isPersonalProfjectTransformed" (click)="togglePersonalProjectChange()">
          <div *ngIf="!isPersonalProfjectTransformed">{{ contentByLanguagePersonalProjectsTitle[selectedLanguage] }}</div>
          <div *ngIf="isPersonalProfjectTransformed">{{ contentByLanguagePersonalProjectsTitle[selectedLanguage] }}</div>
  

        </button>
      </div>
  

  </div>
</div>