
.contact-container{
    background-color: rgb(238, 255, 0);
    padding: 5px;
}

.contact-me{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    justify-content: space-around;
    gap:1rem;
    background-color: #152427;
    
   
}
.social,
.contact{
 display: flex;
 gap: 2rem;
 margin: 1rem;

}
img{
    width: 4rem;
    height: 4rem;
}

.git,
.linkedIn,
.whats,
.mail{
    background-color: #152427;
    border:none;
    width: 6rem;
    height: 6rem;


}
.git:hover,
.linkedIn:hover,
.whats:hover,
.mail:hover

{
  
    background-color: rgb(247, 0, 103);
    padding:0.2rem;
    transform: scale(1.3);
}

.mail-img{
    width: 5rem;
}
