<div class="contact-container">
    <!-- <div class="contact-message"> -->
    <div class="contact-me">
        <div class="social">
            <a href="https://github.com/irinacadu" target="_blank"><img
                    src="../assets/social-media-icons/gitHub.png"></a>
            <a href="mailto:irina_cadu@gmail.com" target="_blank"><img src="../assets/social-media-icons/mail.png"></a>
        </div>
        <div class="contact">
            <a href="https://www.linkedin.com/in/irina-casas-duarte" target="_blank"> <img
                    src="../assets/social-media-icons/linkedIn.png"></a>
            <a href="https://wa.me/638207725?text=Hello%20World" target="_blank"><img
                    src="../assets/social-media-icons/whats.png"></a>
        </div>
    </div>


</div>