
.contact-container{
    background-color: rgb(247, 0, 103);
    padding: 10px;
}

.contact-me{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    justify-content: space-around;
    gap:1rem;
    background-color: #152427;
    
   
}
.social,
.contact{
 display: flex;
 gap: 2rem;
 margin: 1rem;

}
img{
    width: 4rem;
    height: 4rem;
}
