<!-- <h2 class="contact-title">CONTACT ME!</h2> -->

<div class="contact-container">

    <form class="contact-form">
       <div class="contact-message">


       <div class="sender-content">
        <label for="sender" class="label">Nombre/Name</label>
        <input type="text" id="sender" class="form-control sender" [(ngModel)]="dataMessage.sender" name="sender" required>
       </div> 
        
        <div class="subject-content">
            <label for="subject" class="label">Asunto/Subject</label>
            <input type="text" id="subject" class="form-control subject" [(ngModel)]="dataMessage.subject" name="subject" required>
        </div> 
       
        <div class="senderEmail-content">
            <label for="senderEmail" class="label">Email</label>
            <input type="text" id="senderEmail" class="form-control senderEmail" [(ngModel)]="dataMessage.senderEmail" name="senderEmail" required>
        </div> 
       

        <div  class="content-content">
            <label for="content" class="label">Contenido/content</label>
             <input type="text" id="content" class="form-control content" [(ngModel)]="dataMessage.content" name="content" required>
        </div> 
        
    </div> 
    </form>
</div> 
<!-- <a href="mailto:irinacadu@gmail.com?cc='dataMessage.senderEmail'&subject='dataMessage.subject'='dataMessage.acontent'">Envio email con cc, bcc, asunto y cuerpo</a> -->
<div class="buttons">
  <button mat-raised-button  class= "" color="primary" (click)="closeDialog()">Close</button>
 <button mat-raised-button color="secondary" (click)="sendEmail()">Send</button> 

</div>
